<form style="display: flex; flex-direction:column;" method="post" asp-controller="Note" asp-action="Create">
    <div class="form-group">
        <label>작성자</label>
        <textarea class="form-control" style="background-color: transparent; resize:none; width:auto" rows="1" readonly>@Model["USERNAME"].ToString()</textarea>
    </div>

    <div class="form-group">
        <label>제목</label>
        <textarea class="form-control" style="background-color: transparent; resize:none" rows="1" readonly>@Model["TITLE"].ToString()</textarea>
    </div>

    <div class="form-group">
        <label>내용</label>
        <textarea class="form-control" style="background-color: transparent; resize:none" rows="15" readonly>@Model["CONTENTS"].ToString()</textarea>
    </div>

    <div class="form-group">
        <a class="btn btn-secondary">수정</a>
    </div>
</form>
