@{
    ViewData["Title"] = "Home Page";
}
<div id="divList">
    <ul class="list-group" id="list1">
        <li><a>JSON 개요</a></></li>
        <li>JSON 시작 </li>
        <li>JSON 기초</li>
        <li>JSON과 XML</li>
    </ul>
</div>
<div class="text-center" id="div1">
    <h1 class="display-4" id="text">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <input type="button" value="버튼" id="button1" class="btn btn-primary" />
    <div id="result1">

    </div>
</div>
<script src="~/js/ViewJS/index.js"></script>
<link rel="stylesheet" href="~/css/ViewCSS/index.css" />